<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:luozhonghua="http://ccc.com/luozhonghua2014/schema/people"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://ccc.com/luozhonghua2014/schema/people
        http://ccc.com/luozhonghua2014/schema/people.xsd">

    <luozhonghua:people id="p" name="张三" age="18"/>

</beans>